
<br>
<p>Total number of emplyees:10</p>
<br>

<form #formData="ngForm">
  <div class ="form-group">
  <label for="FilterBy">Filter By</label><br>
  <input type="text" id="FilterBy" name="filterdata" ngModel>
</div>
</form>
<br>

<table style="width:100%">
    <tr>
      <th>EmpID</th>
      <th>Name</th> 
      <th>Location</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr>
      <td>1</td>
      <td>RAM</td>
      <td>Bangalore</td>
      <td>ram@mail.com</td>
      <td>986751245/td>
      <td><button type="button" onclick="alert('Hello world!')">Edit</button></td>
      <td><button type="button" onclick="alert('Hello world!')">Delete</button></td>
    </tr>
  </table>
